.footer {
    background-color: #000;
    color: #fff;
    padding: 40px 0;
}

.footer h5 {
    color: #fff;
}

.footer p {
    color: #ccc;
}

.footer ul {
    padding-left: 0;
    list-style: none;
}

.footer ul li {
    padding: 5px 0;
}

.footer ul li a {
    color: #ccc;
    text-decoration: none;
}

.footer ul li a:hover {
    color: #fff;
}